/*:root{
        --button-on-state:polygon(0%,50%,50%,100%,50%,0%);
        --button-off-state:polygon(100%,100%,50%,50%,0%,100%,50%,25%);;
}*//*debug*/
img{
        border-radius:15px;
        animation: img_animation linear forward;
        animation-duration:auto;
        animation-timeline:view();
        animation-range: entry 0% cover 50% exit 100%;
}
img:hover{
        filter:blur(3px);
}
showmeblog{
        width:10%;
        height:25%;
        /*background-color:rgba(0,0,0,0);*/
        backdrop-filter:blur(12px);
}
@keyframes img_animation{
        0% {filter:blur(100px);}
        50% {filter:blur(0px);}
        100% {filter:blur(100px);}
}
#topbar{
        background-color: rgba(255,255,255,0);
        background-position-x: 0%;
        border-radius:15px;
        z-index:9999;
        position: sticky;
        top:0;
        backdrop-filter: blur(8px);
        overflow: hidden;
        text-align: center;
        background-size: cover;
        transition-property: backdrop-filter 1s ease;
        
}
#topbar:hover {
        backdrop-filter: blur(16px);
}
#body{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        /*color:rgba(0,0,0,.4);
        backdrop-filter:invert();*/

}
#bodythe{
        background-image: url(/Assets/Grass_public_domain.JPG);
        position: sticky;
        /*copied from source*/
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*end*/
        
}
#button{
        color:rgba(0,0,0,1);
        margin-left:0%;
}
#button.on{
        clip-path:polygon(0%,50%,50%,100%,50%,0%);
}
#button.off{
        clip-path:polygon(100%,100%,50%,50%,0%,100%,50%,25%);
}
@keyframes topbar_shrink{
        0%{width:100vw; height:10vh;}
        100%{width:50vw; height:5vh;}
}
@keyframes button_animation{
        0% {clip-path:--button-on-state}
        25% {clip-path:--button-on-state; color:rgba(0,0,0,.5);}
        50% {clip-path:--button-off-state; color:rgba(0,0,0,0);}
        75% {clip-path:--button-off-state; color:rgba(0,0,0,.5);}
        100% {clip-path:--button-off-state; color:rgba(0,0,0,1);}
}
#dynamic-favicon{}
